
.cronograma-table thead th {
  background-color:  rgb(255, 95, 0);;
  color: white;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 0.85rem;
  letter-spacing: 0.5px;
}
.card-header-cronograma {
  background-color:  rgb(255, 95, 0);
  color: white;
  border-radius: 10px 10px 0 0 !important;
  padding: 1rem 1.5rem;
}


.cronograma-table tbody tr:hover:not([data-disabled="true"]) {
  background-color: rgba(44, 62, 80, 0.05);
}
.hidden {
  display: none;
}

.cronograma-table tbody tr[data-disabled="true"] td {
  color: #727373;
}
 tr[data-disabled="true"] {
  opacity: 0.75;
  pointer-events: none;
}




.estado-pendiente {
  background-color: #fff3cd;
  color: #856404;
  font-weight: 500;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  display: inline-block;
}

.estado-pagado {
  background-color: #d4edda;
  color: #155724;
  font-weight: 500;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  display: inline-block;
} 

.estado-vencido {
  background-color: #e60c1e;
  color: #fffdfe;
  font-weight: 500;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  display: inline-block;
}

tr[data-disabled="true"]:hover {
  background-color: inherit !important;
}


.text-sin-pago {
  color: #dc3545 !important;
  font-size: 0.75rem;
  font-weight: 600;
}


.badge-cuota {
  font-size: 0.75rem;
  padding: 0.35em 0.65em;
  font-weight: 600;
}


.btn-pagar:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  background: linear-gradient(135deg, #229954, #27ae60);
}


.card-cronograma {
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
  border: none;
}

.text-sin-pago {
  color: #1a1dfd !important;
  font-size: 0.75rem;
  font-weight: 600;
}





.cronograma-table tbody tr.fila-sin-pago td {
  color: #6c757d;
  font-weight: 700;
}

.cronograma-table tbody tr.fila-pendiente-pago td {
  color: #856404;
  font-weight: 700;
}






@media (max-width: 768px) {
  .cronograma-table {
    font-size: 0.85rem;
  }
  
  .badge-cuota {
    font-size: 0.7rem;
    padding: 0.3em 0.5em;
  }
  
  .btn-pagar {
    padding: 0.25rem 0.5rem;
    font-size: 0.8rem;
  }
} 