.bg-yonda {
  background-color: #FF5F00;
  color: #FFF
}
/*  Estilos globales para SweetAlert2 */
.swal2-popup {
  font-family: 'Source Code Pro', monospace; 
  font-size: 16px;
  border-radius: 12px;
}
.swal-personalizado .swal2-icon {
  margin-bottom: -15px;
  transform: scale(0.7); 
}
.swal2-title {
  font-size: 22px;
  font-weight: bold;
  color: #2c3e50;
}

.swal2-html-container {
  font-size: 18px;
  color: #34495e;
}

.swal2-footer {
  font-size: 13px;
  color: #777;
}

.swal2-confirm {
  font-size: 16px !important;
  background-color: #3498db !important;
  border-radius: 8px;
}

.swal2-cancel {
  font-size: 16px !important;
  background-color: #aaa !important;
  border-radius: 8px;
}


/* input[type=date]:focus,
textarea:focus,
select:focus {
  background-color: #e4e3d1 !important;
} */

.inactive{
  background-color: #ebebeb;
}

/* Estilos para la tabla */
.table-hover-yonda {
    --bs-table-hover-bg: rgba(25, 135, 84, 0.25) !important; /* Verde */
}

/* Predeterminamos que las última columna esté alineada a la derecha */
.table th:last-child { text-align: center; }
.table td:last-child{ text-align: right; }